body {
	font-family: 'Open Sans', sans-serif;
	background-color: #EEEDED;
	padding-top: 10px;

}

.btn-default {
	
	background-color: #8AB7B2;
	color: white;
}

.form-recherche {

	padding: 0 auto;
	margin: 0 auto;
	width: 50%;
}

.form-recherche .btn {
	margin-top: 10px;
}

h1 {
	background-color: #8AB7B2;
	color: white;
	padding: 10px;
	border: 2px solid grey;
	border-radius: 5px;
	text-align: center;
}

ul {
	list-style: none;
	padding: 20px;
}